body {
  background-color: #f6f6f6;

  .common-main {
    margin-top: .5rem;

    .common-left {
      // background-color: #fff;
      // padding: .3rem;
      margin-right: .5rem;
      // border-radius: .3rem;
      // border-bottom: 1px solid #eee;
    }
    .common-right {
      background-color: #fff;
      padding: .3rem;
      border-radius: .3rem;
      border-bottom: 1px solid #eee;
    }
  }
}

.common-box {
  background-color: #FFF;
  // margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
}